body {
    margin: 0;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #22223B;
    padding: 15px;
}

.navbar a {
    color: #C9ADA7;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #F4A261;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
}

.header {
    background-color: white;
    color: #293241;
    text-align: center;
    padding: 50px;
}

.header-image {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    padding-top: 50px;
    padding-bottom: 10px;
}

.skills {
    background-color: #4A4E69;
    color: #22223B;
    text-align: center;
    padding: 50px;

}

.skills-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.left-side,
.right-side {
    width: 50%;

}

ul {
    list-style-type: none;
    padding: 0;
    font-family: "luckiest guy";
    font-size: 40px;
}

.reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: none;
}

h1 {
    font-family: "luckiest guy";
    font-size: 80px;
    margin: auto;
}

h2 {
    font-size: 55px;
    font-weight: 300;
}

h3 {
    color: #22223B;

}

.projects {
    background-color: #F2E9E4;
    color: #293241 text-align: center;
    padding: 50px;
}

.project {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

button {
    background-color: #4A4E69;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #22223B;
}

.footer {
    background-color: #22223B;
    color: #C9ADA7;
    text-align: center;
}

/* Add fix for night mode
.night-mode {
    background-color: #2c3e50;
    color: #ecf0f1;
}



.night-mode .header {
    background-color: #9A8C98;
}
*/

.toggle-btn {
    border: none;
    background-color: transparent;
    font-size: 24px;
}