@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');

/* Custom Cursor */
:root {
    --color: 74, 78, 105;
    --cursor-size: 20px;
    --mainColor: #778DA9;
}

* {
    cursor: none;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

.custom-cursor {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;

    width: var(--cursor-size);
    height: var(--cursor-size);

    border: calc(var(--cursor-size) /30) solid #9A8C98;
    border-radius: 50%;

    animation: cursor 800ms infinite alternate ease-in-out;
    pointer-events: none;
}

.custom-cursor::before {
    content: "";
    display: block;
    width: calc(var(--cursor-size) / 2);
    height: calc(var(--cursor-size) / 2);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: calc(var(--cursor-size) / 6) solid rgba(var(--color), 0.5);

    border-radius: 50%;

    animation: cursor-before 800ms infinite alternate ease-in-out;
}

.custom-cursor.click {
    animation: cursor-click 800ms normal ease-in-out;
}

@keyframes cursor {
    from {
        transform: scale(1);
        border-color: 154, 140, 152;
    }

    to {
        transform: scale(1.5);
        border-color: rgb(var(--color));
    }
}

@keyframes cursor-before {
    from {
        transform: translate(-50%, -50%) scale(1);
        border-color: rgba(var(--color), 0.5);
    }

    to {
        transform: translate(-50%, -50%) scale(1.5);
        border-color: rgba(var(--color), 0.75);
    }
}

@keyframes cursor-click {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(2.5);
        border-color: rgb(var(--color));
    }
}

/* General */

body {
    margin: 0;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E0E1DD;
    /*background: rgb(224, 225, 221);
    background: linear-gradient(180deg, rgba(224, 225, 221, 1) 0%, rgba(119, 141, 169, 1) 71%, rgba(65, 90, 119, 1) 100%);*/
}

.content {
    flex-grow: 1;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .skills-list {
        flex-direction: column;
        align-items: center;
    }
}

a:hover {
    text-decoration: none;
}

/* Text */

@keyframes fadeInMoveDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-family: "luckiest guy";
    font-size: 100px;
    margin: auto;
    animation: fadeInMoveDown 1s ease-out forwards;
}

h2 {
    font-size: 80px;
    font-weight: 300;
}

h3 {
    color: #0D1B2A;

}

h1,
h2,
h3,
h4 {
    font-family: "Luckiest Guy", cursive;
}

/* Nav Bar */

.navbar {
    max-width: 95%;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    background-color: #415A77;
}

.navbar a {
    color: #E0E1DD;
    text-decoration: none;
    transition: color 0.3s ease;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: 500;
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    text-decoration: none;
}

.navbar a:hover {
    color: #778DA9;
    text-decoration: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23E0E1DD' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
}

.navbar {
    transition: all 0.3s ease;
}

.navbar.scrolled {
    background-color: #333;
    padding: 10px 0;
}

/* Header */

.header {
    color: #293241;
    text-align: center;
    padding: 50px;
    position: relative;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Adjust this as needed */
    justify-content: center;
    /* Aligns items to the left */
    padding: 50px;
    margin-top: 300px;
    margin-bottom: 300px;
}

.header h1 {
    font-size: 100px;
    margin: auto;
}

.header h1,
.header h2 {
    text-align: center;
    margin: auto;
}

.down-arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 0;
}


/* Projects */

.background {
    background-color: #E0E1DD;
    border-radius: 20px;
    margin: 10px 200px;
    justify-content: center;
}

.project-container {
    position: relative;
}

.projects-break {
    display: block;
    width: 100%;
    height: 60px;
    max-height: 60px;
    margin: 0;
    z-index: 5;
    bottom: 100%;
    position: absolute;
    left: 0px;
    float: left;
}

.parallax1>use {
    animation: move-forever1 10s linear infinite;

    &:nth-child(1) {
        animation-delay: -2s;
    }
}

.parallax2>use {
    animation: move-forever2 8s linear infinite;

    &:nth-child(1) {
        animation-delay: -2s;
    }
}

.parallax3>use {
    animation: move-forever3 6s linear infinite;

    &:nth-child(1) {
        animation-delay: -2s;
    }
}

.parallax4>use {
    animation: move-forever4 4s linear infinite;

    &:nth-child(1) {
        animation-delay: -2s;
    }
}

@keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }

    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever3 {
    0% {
        transform: translate(85px, 0%);
    }

    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever4 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

.projects {
    color: #0D1B2A;
    /* Fix the font-color */
    text-align: center;
    padding: 50px;
    background-color: #415A77;
}

.project {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.project a {
    text-decoration: none;
}

.project a:hover {
    color: #F2E9E4;
    transition: color 0.3s ease;
}

/* Button */
button {
    background-color: #4A4E69;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #22223B;
}

/* Contact */

.contact-box {
    background: #E0E1DD;
    margin: auto;
    max-width: 100%;
    padding: 20px 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.contact-box:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 8px solid #778DA9;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.contact-container {
    position: relative;
    background-color: #1B263B;
}

.contact-break {
    display: block;
    width: 100%;
    height: 60px;
    max-height: 60px;
    margin: 0;
    z-index: 5;
    bottom: 100%;
    position: absolute;
    left: 0px;
    float: left;
}

.parallax1>use {
    animation: move-forever1 10s linear infinite;

    &:nth-child(1) {
        animation-delay: -2s;
    }
}

.parallax2>use {
    animation: move-forever2 8s linear infinite;

    &:nth-child(1) {
        animation-delay: -2s;
    }
}

.parallax3>use {
    animation: move-forever3 6s linear infinite;

    &:nth-child(1) {
        animation-delay: -2s;
    }
}

.parallax4>use {
    animation: move-forever4 4s linear infinite;

    &:nth-child(1) {
        animation-delay: -2s;
    }
}

@keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }

    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever3 {
    0% {
        transform: translate(85px, 0%);
    }

    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever4 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

.contact-button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: none;
    outline: none;
}

.contact-button:hover {
    background-color: #3B3A4A;
    box-shadow: 0px 15px 20px rgba(119, 141, 169, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.contact-button:active {
    transform: translateY(-1px);
}

/* Footer */

footer {
    position: relative;
    background: #1B263B;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
}

footer .content {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}

footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content .top .logo-details {
    color: #E0E1DD;
    font-size: 30px;
}

.content .top .media-icons {
    display: flex;
}

.content .top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
    background: #4267B2;
}

.top .media-icons a:nth-child(1):hover {
    color: #4267B2;
    background: #fff;
}

.top .media-icons a:nth-child(2) {
    background: #1DA1F2;
}

.top .media-icons a:nth-child(2):hover {
    color: #1DA1F2;
    background: #fff;
}

.top .media-icons a:nth-child(3) {
    background: #E1306C;
}

.top .media-icons a:nth-child(3):hover {
    color: #E1306C;
    background: #fff;
}

.top .media-icons a:nth-child(4) {
    background: #0077B5;
}

.top .media-icons a:nth-child(4):hover {
    color: #0077B5;
    background: #fff;
}

.top .media-icons a:nth-child(5) {
    background: #FF0000;
}

.top .media-icons a:nth-child(5):hover {
    color: #FF0000;
    background: #fff;
}

footer .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .content .link-boxes .box {
    width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}

.link-boxes .box .link_name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
}

.content .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
}

.content .link-boxes .box li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
}

.content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
}

.content .link-boxes .input-box {
    margin-right: 55px;
}

.link-boxes .input-box input {
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
}

.link-boxes .input-box input::placeholder {
    color: #AFAFB6;
    font-size: 16px;
}

.link-boxes .input-box input[type="button"] {
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
}

.input-box input[type="button"]:hover {
    opacity: 1;
}

footer .bottom-details {
    width: 100%;
    background: #0D1B2A;
}

footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}

.bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
}

.bottom-details .bottom_text a {
    margin-right: 10px;
}

@media (max-width: 900px) {
    footer .content .link-boxes {
        flex-wrap: wrap;
    }

    footer .content .link-boxes .input-box {
        width: 40%;
        margin-top: 10px;
    }
}

@media (max-width: 700px) {
    footer {
        position: relative;
    }

    .content .top .logo-details {
        font-size: 26px;
    }

    .content .top .media-icons a {
        height: 35px;
        width: 35px;
        font-size: 14px;
        line-height: 35px;
    }

    footer .content .link-boxes .box {
        width: calc(100% / 3 - 10px);
    }

    footer .content .link-boxes .input-box {
        width: 60%;
    }

    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
        font-size: 12px;
    }
}

@media (max-width: 520px) {
    footer::before {
        top: 145px;
    }

    footer .content .top {
        flex-direction: column;
    }

    .content .top .media-icons {
        margin-top: 16px;
    }

    footer .content .link-boxes .box {
        width: calc(100% / 2 - 10px);
    }

    footer .content .link-boxes .input-box {
        width: 100%;
    }
}

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    --background: #22223B;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff;
    background: var(--background);
    transition: .5s;
}

input:checked+.slider {
    background-color: #778DA9;
}

input:checked+.slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff;
}

/* Dark Mode */

body.night-mode .navbar {
    background-color: #0D1B2A;
}

body.night-mode .navbar a {
    color: #E0E1DD;
}

body.night-mode .navbar a:hover {
    color: #778DA9;
}


body.night-mode {
    background: rgb(65, 90, 119);
    background: linear-gradient(180deg, rgba(65, 90, 119, 1) 0%, rgba(27, 38, 59, 1) 71%, rgba(13, 27, 42, 1) 100%);
}

body.night-mode .header,
body.night-mode .skills,
body.night-mode .projects,
body.night-mode .footer,
body.night-mode .about,
body.night-mode .contact,
body.night-mode h3,
body.night-mode footer {
    color: #E0E1DD;
}

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
    z-index: -1;
}

.hero-break {
    display: block;
    width: 100%;
    height: 60px;
    max-height: 60px;
    margin: 0;
    z-index: 5;
    bottom: 0;
    position: absolute;
    left: 0px;
    float: left;
}

.parallax1>use {
    animation: move-forever1 10s linear infinite;

    &:nth-child(1) {
        animation-delay: -2s;
    }
}

.parallax2>use {
    animation: move-forever2 8s linear infinite;

    &:nth-child(1) {
        animation-delay: -2s;
    }
}

.parallax3>use {
    animation: move-forever3 6s linear infinite;

    &:nth-child(1) {
        animation-delay: -2s;
    }
}

.parallax4>use {
    animation: move-forever4 4s linear infinite;

    &:nth-child(1) {
        animation-delay: -2s;
    }
}

@keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }

    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever3 {
    0% {
        transform: translate(85px, 0%);
    }

    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever4 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

.row {
    width: 94%;
    max-width: 1140px;
    margin: 0 auto;
}

.row:before,
.row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}

.row .row {
    width: auto;
    max-width: none;
    margin-left: -20px;
    margin-right: -20px;
}

[class*="col-"],
.bgrid {
    float: left;
}

[class*="col-"]+[class*="col-"].end {
    float: right;
}

[class*="col-"] {
    padding: 0 20px;
}

.col-one {
    width: 8.33333%;
}

.col-two,
.col-1-6 {
    width: 16.66667%;
}

.col-three,
.col-1-4 {
    width: 25%;
}

.col-four,
.col-1-3 {
    width: 33.33333%;
}

.col-five {
    width: 41.66667%;
}

.col-six,
.col-1-2 {
    width: 50%;
}

.col-seven {
    width: 58.33333%;
}

.col-eight,
.col-2-3 {
    width: 66.66667%;
}

.col-nine,
.col-3-4 {
    width: 75%;
}

.col-ten,
.col-5-6 {
    width: 83.33333%;
}

.col-eleven {
    width: 91.66667%;
}

.col-twelve,
.col-full {
    width: 100%;
}

/**
 * small screens - (_grid.scss)
 * --------------------------------------------------------------- 
 */
@media screen and (max-width:1024px) {
    .row .row {
        margin-left: -18px;
        margin-right: -18px;
    }

    [class*="col-"] {
        padding: 0 18px;
    }

}

/**
 * tablets - (_grid.scss)
 * --------------------------------------------------------------- 
 */
@media screen and (max-width:768px) {
    .row {
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
    }

    .row .row {
        padding-left: 0;
        padding-right: 0;
        margin-left: -15px;
        margin-right: -15px;
    }

    [class*="col-"] {
        padding: 0 15px;
    }

    .tab-1-4 {
        width: 25%;
    }

    .tab-1-3 {
        width: 33.33333%;
    }

    .tab-1-2 {
        width: 50%;
    }

    .tab-2-3 {
        width: 66.66667%;
    }

    .tab-3-4 {
        width: 75%;
    }

    .tab-full {
        width: 100%;
    }

}

/**
 * large mobile devices - (_grid.scss)
 * --------------------------------------------------------------- 
 */
@media screen and (max-width:600px) {
    .row {
        padding-left: 25px;
        padding-right: 25px;
    }

    .row .row {
        margin-left: -10px;
        margin-right: -10px;
    }

    [class*="col-"] {
        padding: 0 10px;
    }

    .mob-1-4 {
        width: 25%;
    }

    .mob-1-2 {
        width: 50%;
    }

    .mob-3-4 {
        width: 75%;
    }

    .mob-full {
        width: 100%;
    }

}

/**
 * small mobile devices - (_grid.scss)
 * --------------------------------------------------------------- 
 */
@media screen and (max-width:400px) {
    .row .row {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    [class*="col-"] {
        width: 100% !important;
        float: none !important;
        clear: both !important;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    [class*="col-"]+[class*="col-"].end {
        float: none;
    }

}

/** 
 * ===================================================================
 * block grids - (_grid.scss)
 *
 * ------------------------------------------------------------------- 
 */
[class*="block-"]:before,
[class*="block-"]:after {
    content: "";
    display: table;
}

[class*="block-"]:after {
    clear: both;
}

.block-1-6 .bgrid {
    width: 16.66667%;
}

.block-1-4 .bgrid {
    width: 25%;
}

.block-1-3 .bgrid {
    width: 33.33333%;
}

.block-1-2 .bgrid {
    width: 50%;
}

/**
 * Clearing for block grid columns. Allow columns with 
 * different heights to align properly.
 */
.block-1-6 .bgrid:nth-child(6n+1),
.block-1-4 .bgrid:nth-child(4n+1),
.block-1-3 .bgrid:nth-child(3n+1),
.block-1-2 .bgrid:nth-child(2n+1) {
    clear: both;
}

/**
 * small screens - (_grid.scss)
 * --------------------------------------------------------------- 
 */
@media screen and (max-width:1024px) {
    .block-s-1-6 .bgrid {
        width: 16.66667%;
    }

    .block-s-1-4 .bgrid {
        width: 25%;
    }

    .block-s-1-3 .bgrid {
        width: 33.33333%;
    }

    .block-s-1-2 .bgrid {
        width: 50%;
    }

    .block-s-full .bgrid {
        width: 100%;
        clear: both;
    }

    [class*="block-s-"] .bgrid:nth-child(n) {
        clear: none;
    }

    .block-s-1-6 .bgrid:nth-child(6n+1),
    .block-s-1-4 .bgrid:nth-child(4n+1),
    .block-s-1-3 .bgrid:nth-child(3n+1),
    .block-s-1-2 .bgrid:nth-child(2n+1) {
        clear: both;
    }

}

/**
 * tablets - (_grid.scss)
 * --------------------------------------------------------------- 
 */
@media screen and (max-width:768px) {
    .block-tab-1-6 .bgrid {
        width: 16.66667%;
    }

    .block-tab-1-4 .bgrid {
        width: 25%;
    }

    .block-tab-1-3 .bgrid {
        width: 33.33333%;
    }

    .block-tab-1-2 .bgrid {
        width: 50%;
    }

    .block-tab-full .bgrid {
        width: 100%;
        clear: both;
    }

    [class*="block-tab-"] .bgrid:nth-child(n) {
        clear: none;
    }

    .block-tab-1-6 .bgrid:nth-child(6n+1),
    .block-tab-1-4 .bgrid:nth-child(4n+1),
    .block-tab-1-3 .bgrid:nth-child(3n+1),
    .block-tab-1-2 .bgrid:nth-child(2n+1) {
        clear: both;
    }

}

/**
 * large mobile devices - (_grid.scss)
 * --------------------------------------------------------------- 
 */
@media screen and (max-width:600px) {
    .block-mob-1-6 .bgrid {
        width: 16.66667%;
    }

    .block-mob-1-4 .bgrid {
        width: 25%;
    }

    .block-mob-1-3 .bgrid {
        width: 33.33333%;
    }

    .block-mob-1-2 .bgrid {
        width: 50%;
    }

    .block-mob-full .bgrid {
        width: 100%;
        clear: both;
    }

    [class*="block-mob-"] .bgrid:nth-child(n) {
        clear: none;
    }

    .block-mob-1-6 .bgrid:nth-child(6n+1),
    .block-mob-1-4 .bgrid:nth-child(4n+1),
    .block-mob-1-3 .bgrid:nth-child(3n+1),
    .block-mob-1-2 .bgrid:nth-child(2n+1) {
        clear: both;
    }

}

/**
 * stack on small mobile devices - (_grid.scss)
 * --------------------------------------------------------------- 
 */
@media screen and (max-width:400px) {
    .stack .bgrid {
        width: 100% !important;
        float: none !important;
        clear: both !important;
        margin-left: 0;
        margin-right: 0;
    }

}

.skill-bars {
    list-style: none;
    margin: 6rem 0 3rem;
}

.skill-bars li {
    height: .6rem;
    background: #a1a1a1;
    width: 100%;
    margin-bottom: 6rem;
    padding: 0;
    position: relative;
}

.skill-bars li strong {
    position: absolute;
    left: 0;
    top: -3rem;
    font-family: "poppins-bold", sans-serif;
    color: #313131;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.5rem;
    line-height: 2.4rem;
}

.skill-bars li .progress {
    background: #313131;
    position: relative;
    height: 100%;
}

.skill-bars li .progress span {
    position: absolute;
    right: 0;
    top: -3.6rem;
    display: block;
    font-family: "poppins-regular", sans-serif;
    color: white;
    font-size: 1.1rem;
    line-height: 1;
    background: #313131;
    padding: .6rem .6rem;
    border-radius: 3px;
}

.skill-bars li .progress span::after {
    position: absolute;
    left: 50%;
    bottom: -5px;
    margin-left: -5px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #313131;
    content: "";
}

.skill-bars li .percent5 {
    width: 5%;
}

.skill-bars li .percent10 {
    width: 10%;
}

.skill-bars li .percent15 {
    width: 15%;
}

.skill-bars li .percent20 {
    width: 20%;
}

.skill-bars li .percent25 {
    width: 25%;
}

.skill-bars li .percent30 {
    width: 30%;
}

.skill-bars li .percent35 {
    width: 35%;
}

.skill-bars li .percent40 {
    width: 40%;
}

.skill-bars li .percent45 {
    width: 45%;
}

.skill-bars li .percent50 {
    width: 50%;
}

.skill-bars li .percent55 {
    width: 55%;
}

.skill-bars li .percent60 {
    width: 60%;
}

.skill-bars li .percent65 {
    width: 65%;
}

.skill-bars li .percent70 {
    width: 70%;
}

.skill-bars li .percent75 {
    width: 75%;
}

.skill-bars li .percent80 {
    width: 80%;
}

.skill-bars li .percent85 {
    width: 85%;
}

.skill-bars li .percent90 {
    width: 90%;
}

.skill-bars li .percent95 {
    width: 95%;
}

.skill-bars li .percent100 {
    width: 100%;
}

#about {
    color: #293241;
    padding: 50px;
    display: flex;
    justify-content: center;
    /* Centers horizontally in the flex container */
    align-items: center;
    /* Centers vertically in the flex container */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    background-color: #778DA9;
    flex-direction: column;
    /* Stacks flex items vertically */
}

#about .section-intro {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.intro-info {
    margin-top: 4.2rem;
    margin-right: -30px;
    margin-left: -30px;
}

.intro-info img {
    height: 9rem;
    width: auto;
    border-radius: 50%;
    margin: .9rem 0 0 0;
    float: left;
}

.intro-info .lead {
    text-align: left;
    padding-left: 13rem;
}

.about-content {
    position: relative;
    text-align: left;
    max-width: 850px;
    margin-bottom: 3.6rem;
}

.about-content h3 {
    font-family: "poppins-bold", sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
}

.about-content .info-list {
    list-style: none;
    margin-left: 0;
}

.about-content .info-list li {
    padding: 0 0 1.5rem 0;
    margin-bottom: .6rem;
}

.about-content .info-list li strong {
    font-family: "poppins-bold", sans-serif;
    color: #313131;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.5rem;
    line-height: 3rem;
}

.about-content .info-list li span {
    display: block;
    font-family: "poppins-regular", sans-serif;
    color: #0D1B2A;
    font-size: 1.5rem;
    line-height: 1;
}

.about-content .skill-bars {
    margin-top: 6rem;
}

.button-section {
    text-align: center;
}

.button-section .button {
    width: 250px;
}

.button-section [class*="col-"] .button:first-child {
    margin-right: 4rem;
}

/**
 * responsive:
 * about
 * ------------------------------------------------------------------- 
 */
@media only screen and (max-width:1024px) {
    .intro-info {
        margin-right: 0;
        margin-left: 0;
    }
}

@media only screen and (max-width:768px) {
    .intro-info img {
        height: 7.8rem;
        width: 7.8rem;
    }

    .intro-info .lead {
        padding-left: 11rem;
    }

    .about-content h3 {
        text-align: center;
    }

    .about-content .info-list,
    .about-content .skill-bars {
        margin-bottom: 4.2rem;
    }

    .button-section .button {
        width: 100%;
        margin-bottom: 3rem;
    }

    .button-section [class*="col-"] .button:first-child {
        margin-right: 0;
    }
}

@media only screen and (max-width:600px) {
    .intro-info {
        text-align: center;
        margin-top: 3rem;
    }

    .intro-info img {
        height: 6.6rem;
        width: 6.6rem;
        float: none;
        display: inline-block;
    }

    .intro-info .lead {
        padding-left: 0;
        text-align: center;
    }
}

/** 
 * ===================================================================
 * 16. stats - (_layout.scss)
 *
 * ------------------------------------------------------------------- 
 */
#stats {
    background: #990047;
    padding-top: 7.2rem;
    padding-bottom: 6rem;
    text-align: center;
}

#stats .row {
    max-width: 1440px;
}

#stats .stat {
    border-left: 1px solid rgba(255, 255, 255, 0.12);
    min-height: 17.4rem;
}

#stats .stat:first-child {
    border: none;
}

#stats .icon-part i {
    font-size: 4.8rem;
    color: #000000;
}

#stats .stat-count {
    color: #FFFFFF;
    font-size: 3.6rem;
    margin-top: 1.2rem;
    margin-bottom: 0;
    font-family: "poppins-medium", sans-serif;
    color: white;
}

#stats .stat-title {
    color: rgba(255, 255, 255, 0.5);
}


/**
 * responsive:
 * stats
 * -------------------------------------------------------------------
 */
@media only screen and (max-width:1024px) {
    #stats .stat:nth-child(n) {
        border-left: 1px solid rgba(255, 255, 255, 0.12);
        padding-bottom: 1.5rem;
    }

    #stats .stat:nth-child(3n+1) {
        border: none;
    }
}

@media only screen and (max-width:768px) {
    #stats .stat:nth-child(n) {
        border-left: 1px solid rgba(255, 255, 255, 0.12);
    }

    #stats .stat:nth-child(2n+1) {
        border: none;
    }
}

@media only screen and (max-width:600px) {
    #stats .stat:nth-child(n) {
        border: none;
    }
}